article {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.navegacaoSite {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.iconesRedesSociais li {
    display: inline-block;
}

.iconesRedesSociais a {
    width: 40px;
    height: 40px;
    display: block;
    color: transparent;
}

aside,
blockquote,
footer {
    padding: 20px;
}

body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.5;
}

.citacoes {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    box-sizing: border-box;
    margin: 20px 40px;
    width: 250px;
}

#citacao-fiat {
    float: right;
}

#citacao-petrobras {
    float: left;
}

cite {
    font-style: italic;
    float: right;
}

.conteudoPrincipal {
    margin: auto;
    width: 720px;
    padding: 30px 0;
}

em {
    font-style: italic;
}

footer {
    background-color: #F2FFFC;
    color: #000;
}

.clearfix {
    clear: both;
}

main a {
    color: #851944;
}

main {
    width: 80%;
    float: left;
}

img,
aside {
    width: 20%;
    float: right;
}

aside {
    clear: right;
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.tituloPrincipal {
    background-color: #851944;
    border-bottom: 10px solid black;
    color: #FFF;
    font-size: 60px;
    margin: 0;
    padding: 25px;
    text-align: center;
}

h2 {
    font-size: 30px;
    clear: both;
}

.leiaMais {
    background-color: #E6E7E8;
    display: block;
    font-size: 24px;
    margin: 16px;
    padding: 8px;
    text-align: center;
}

nav a {
    color: #F2FFFC;
    text-transform: lowercase;
}

p {
    font-family: "Times New Roman", serif;
    text-align: justify;
    margin: 20px 0;
}

#rodapePagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
}

strong {
    font-weight: bold;
}

ul li span {
    list-style-type: none;
}

.gitHub {
    background-image: url(github.png);
}

.twitter {
    background-image: url(twitter.png);
}

.linkedIn {
    background-image: url(linkedin.png);
}