aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

aside nav ul {
    padding: 0;
}

aside li {
    display: inline-block;
}

aside,
blockquote,
footer {
    padding: 20px;
}

body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
    font-size: 20px;
    line-height: 1.5;
}

blockquote {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    box-sizing: border-box;
    margin: 20px 40px;
    width: 250px;
}

cite {
    font-style: italic;
}

main div {
    margin: auto;
    width: 720px;
    padding: 30px 0;
}

em {
    font-style: italic;
}

footer {
    background-color: #F2FFFC;
    color: #000;
}

main a {
    color: #851944;
}

h1,
h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
    background-color: #851944;
    border-bottom: 10px solid black;
    color: #FFF;
    font-size: 60px;
    margin: 0;
    padding: 25px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

nav a {
    color: #F2FFFC;
}

p {
    font-family: "Times New Roman", serif;
    text-align: justify;
    margin: 20px 0;
}

strong {
    font-weight: bold;
}

ul li span {
    list-style-type: none;
}