h1 {
    -webkit-animation: aparece 2;
    animation: aparece 2;
}

@-webkit-keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    position: relative;
    transition: 1s linear, box-shadow 2s ease-out;
    transition-delay: 0s, 1s;
    -webkit-animation: quica 1s infinite;
    animation: quica 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    transition: box-shadow 1s, transform 1s;
    /* vale quando o usuário parou de interagir */
    transition-delay: 1s, 0s;
}

@-webkit-keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

@keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);
    animation-play-state: paused;
    /* vale quando o usuário começou a interagir */
    transition-delay: 0s, 1s;
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
    z-index: 1;
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
    z-index: 2;
}

.container:first-of-type>p:first-child:first-letter {
    font-size: 2em;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: .04em .04em #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio::before {
    content: '"';
    position: absolute;
    font-size: 10em;
    color: #BBB;
    line-height: .8;
}

.citacao-bio>p {
    position: relative;
}

.habilidades th {
    background-color: #851944;
    color: white;
    font-weight: bold;
}

.habilidades thead th {
    /* não precisamos colocar font-weight e color
       pois já fizemos isso para todos os th */
    background-color: #3C1D3D;
}

.habilidades td {
    background-color: #eee;
}

.habilidades th,
.habilidades td {
    padding: 1em;
}

.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
}

.habilidades {
    margin: 1em 0;
}

.habilidades [rowspan] {
    vertical-align: middle;
    text-align: center;
    font-style: italic;
}

.rodape-da-tabela {
    font-style: italic;
}