.portfolio li {
    display: inline-block;
    border: .49em solid black;
    background-color: #FAFFFC;
    box-sizing: border-box;
    padding: .75em;
    width: 47%;
    margin-right: .75em;
    margin-bottom: .75em;
}

.portfolio img {
    width: 100%;
}